page-searchresult {
    ion-header{
        height: 50px;
        // text-align: center;
        width:100%;
       // border:1px solid black;
        line-height: 50px;
        input{
            text-align: center;
            margin-top:15px;
            width: 300px;
            height: 30px;
            border-radius: 18px;
            border:1px solid gray;
            position: relative;
            // line-height: 60px;
            font-size:14px;
        }
        #back{
            color:#fd273f;
            font-size:20px!important;
        }
        #search{
            color:#fd273f;
            font-size:24px!important;
        }
        // i{
        //     position: absolute;
        //     left:40px;
        //     line-height: 60px;
        //     color:#FD273F;
        //     font-size:24px;
        // }
    }
    .goods{
        margin: 10px auto;
        // border: #FD273F 1px solid;
        width: 350px;
        padding: 0;
        img{
                width: 100%;
                height: 182px;
        }
        li{
             
            width: 48%;
            float: left;
            //margin: 2px 0 0 2%;
            margin-left:4px;
            margin-right: 3px;
            margin-top:10px;
            #text{
                // border: 1px solid green;
                // word-break: break-all;
                // text-overflow: ellipsis;
                // display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
                // -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
                // -webkit-line-clamp: 1; /** 显示的行数 **/
                // overflow: hidden;  /** 隐藏超出的内容 **/
                display: inline-block;
                white-space: nowrap; 
                width: 100%; 
                overflow: hidden;
                text-overflow:ellipsis;
                margin: 0px;
            }
            #below{
                // border: 1px solid;
                width: 100%;
                height: 25px;
                //border:1px solid black;
                line-height: 25px;
                display: inline-block;
                vertical-align: middle;
                font-size: 13px;
                .ion-ios-heart,.ion-md-heart{
                    color:rgb(212, 208, 208);
                    font-size:18px;
                } 
                #right{
                    float: right;
                    line-height: 25px;
                }
                #tou{
                    width: 23px;
                    height: 23px;
                    border-radius: 50%;
                    display: inline-block;
                    vertical-align: middle;
                    //margin-right: 5px;
                }
            }
        }
    }
}
