page-contact {
    ion-header{
        height:160px;
        // background: yellow;
        .div1{
            margin:20px auto;
            // border:1px solid black;
            width:200px;
            text-align: center;
            p{
                color: #FD273F;
                font-size: 20px;
                font-weight: 600;
            }
            #icon{
                font-size: 45px;
                color: #FD273F;
                // margin-left: 45%;
            }
    
        }
    }
    ul{
        margin:0;
        padding:0;
        li{
            span{
                line-height: 45px;
                height:45px;
                display: inline-block;
            }
            .span{
                margin-left:5px;
                width:30px;
                //border:1px solid black;
                text-align: center;
                ion-icon{
                    line-height: 45px;
                }
            }
            .Date{
                margin-left:5px;
                width:40px;
                //border:1px solid black;
                height:45px;
                text-align: center;
                line-height: 45px;
            }
            ion-icon{
                font-size: 23px;
            }
            .delete{
                float: right;
                margin-right:12px;
                line-height: 45px;
            }
            .detail{
                // white-space: nowrap;
                margin-left:5px;
                //border:1px solid black;
                width:170px;
                // overflow: hidden;
                // text-overflow:ellipsis;
            }
            .edit{
                float:right;
                line-height: 45px;
                margin-right: 12px;
            }
            line-height: 45px;
            color: #FD273F;        
            box-shadow:1px 1px  1px 1px rgb(180, 180, 170);
            background-color: rgb(236, 236, 236);
            border-radius: 20px;
            margin:10px auto;
            width:90%;
            height:45px;
            width: 330px;
        }
    }
}
