<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>
  <div>
    <ion-icon id="icon" ios="ios-bulb" md="md-bulb"></ion-icon>
    <p>添加你的日程</p>
  </div>
  <!-- 
    <ion-list inset no-lines>
      <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
        {{ item }}
      </button> 
  </ion-list> 
-->


    <!-- <ul>
      <li  style="background-color:white; text-align: center;height:43px ;margin-left: -25px;color: #FD273F;font-size:20px;">——2018——</li>
      <li id="list"><ion-icon style="font-size: 25px" [name]="isName"></ion-icon>{{time}}坐公交车到达北国商城站</li>
      <li id="list"><ion-icon style="font-size: 25px" name="car"></ion-icon>{{time}}到达图书馆站</li>
      <li id="list"><ion-icon style="font-size: 25px" name="car"></ion-icon>{{time}}到达图书馆站</li>
    </ul> -->
    <span>——2018——</span>
    <ul *ngFor="let item of mySchedule;let i=index;">
        <li class="list"><ion-icon style="font-size: 25px" name="{{item?.type}}"></ion-icon>&nbsp;&nbsp;&nbsp;{{item?.date}}&nbsp;&nbsp;&nbsp;{{item?.detail}}</li>
      </ul>
    <a id="addcalendar">
        <ion-item (click)="goCalender()">
            <button  style="height:43px ;font-size:15px;color:gray;" ion-button color="light" round block>
              <ion-icon style="font-size: 30px" name="add"></ion-icon> 待添加
            </button>
        </ion-item> 
    </a>
</ion-content>
