<ion-header>
  <div class="div1">
    <ion-icon id="icon" ios="ios-bulb" md="md-bulb"></ion-icon>
    <p>添加你的日程</p>
  </div>
  <div class="date">
    <ion-list>
      <ion-item>
        <!-- <ion-label stacked>问题类型</ion-label> -->
        <ion-select [(ngModel)]="typeTxt" (ngModelChange)="switchType()"  interface="popover" style="height:50px;color:#FD273F;" placeholder={{year}}>
          <ion-option value="0">请选择年份</ion-option>
          <ion-option value={{year}}>{{year}}</ion-option>
          <ion-option value={{year-1}}>{{year-1}}</ion-option>
          <ion-option value={{year-2}}>{{year-2}}</ion-option>
          <ion-option value={{year-3}}>{{year-3}}</ion-option>
          <ion-option value={{year-4}}>{{year-4}}</ion-option>
          <ion-option value={{year-5}}>{{year-5}}</ion-option>
          <!-- <div *ngFor="let typeData of typeDataArr">
            <ion-option value="{{typeData?.id}}">{{typeData?.type}}</ion-option>
          </div> -->
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
</ion-header>

<ion-content>
    <ul *ngFor="let item of mySchedule;let i=index;">
        <li class="li">
          <span class="span"><ion-icon name="{{item?.type}}"></ion-icon></span>
          <span class="Date">{{item?.date.substring(5)}}</span>
          <span class="detail">{{item?.detail.length>12?item?.detail.substring(0,10)+'...':item?.detail}}</span>
          <ion-icon ios="ios-trash" md="md-trash" class="delete" (click)="delete(i)"></ion-icon>
          <ion-icon ios="ios-create" md="md-create" class="edit" (click)="edit(i)"></ion-icon>       
        </li>
      </ul>
</ion-content>
<ion-footer>
  <a id="addcalendar">
    <ion-item (click)="goCalender()">
        <button  style="height:43px ;font-size:15px;color:gray;" ion-button color="light" round block>
          <ion-icon style="font-size: 30px" name="add"></ion-icon> 待添加
        </button>
    </ion-item> 
</a>
</ion-footer>