page-contact {
    div{
        margin-top: 5%;
        p{
            text-align: center;
            color: #FD273F;
            font-size: 20px;
            font-weight: 600;
        }

    }
    #icon{
        font-size: 45px;
        color: #FD273F;
        margin-left: 45%;
    }

    ion-item{
        height:75px;
    }
   
        
}
