page-project-detail {
    .back{
        background: none;
        font-size: 22px;
        color:#5f9ea0;
        margin-left: 10px;
        margin-top:10px;
    }

    ul{
        width:100%;
        height:600px;
        //border:1px solid black;
        list-style: none;
        margin:0;
        padding:0;   
        li{
            font-size:16px;
            margin-top:15px;
            ul{
                margin: 0 auto;
                width: 80%;
                height: 170px;
                // border: 2px solid blue;
                li{
                    // border: 1px solid red;
                    margin: 5px;
                    overflow: hidden;
                    float: left;
                    img{
                        height: 150px;
                    }
                }
            }
           .inp{
               width:200px;
               height:30px;
               line-height: 30px;  
               margin-left: 20px;
               border-radius:3px;
               border:none;
           } 
           span{
                width:120px;
                height:30px;
                //border:1px solid black;
                display: inline-block;
                font-size:16px;
                margin-top:20px;
                line-height: 30px;
                text-align: right;
            }
           .detail{
            //    border:1px solid red;
               font-size:16px;
               line-height: 30px;
               width:800px;
               height:200px;
               margin-left:130px;
               margin-bottom: 100px;
           }
        }
    }
    #delete{
        float: right;
        margin-right: 10%;
        width: 100px;
        height: 50px;
        background-color:gray;
        border-radius: 3px;
    }
    #delete:hover{
        background-color:rgb(66, 65, 65);
    }
}
