page-releasetwo {
    ion-header{
        button{
            background: transparent;
            p{
                font-size:16px;
                color:#FD273F;
            }
        }
        .back{
            padding-left: 8px;
        }
        .next{
            padding-right: 8px;
            float: right;
        }
    }  
    // ion-content{
    //     background:rgb(248, 246, 246);

    // }
    .content{
        width: 100%;
        height:100%;
        //background: rgb(248, 246, 246);
        //border:1px solid gray;
        textarea{
            width:100%;
            height:120px;
            border:none;
        }
        img{
            //border:1px solid gray;
            display: none;
            float: left;
        }
        .addpicture{
            //margin-top: 10px;
            width: 120px;
            height: 120px;
            float: left;
            //border:1px solid black;
            font-size: 15px;
            color:gray;
            text-align: center;
            padding-top: 30px;
            //   line-height: 120px;
            background: rgb(248, 246, 246);
            //   $action-sheet-md-text-align:"center";
            ion-icon{
                color:gray;
                font-size: 30px;
            }
        }
        .ul{
           // margin-top:10px;
            float: left;
            width:100%;
            height:30px;
            margin-top:10px;
            padding: 0;
            list-style: none;
            //border:1px solid gray;
            li{
                text-align: center;
                background: rgb(248, 246, 246);
                line-height: 25px;
                font-size:13px;
                float: left;
                width:90px;
                height:25px;
                //border:1px solid gray;
                border-radius: 25px;
                margin-right: 20px;
            }
            // .label{
            //     font-size: 10px;
            //     height:20px;
            //     width: 80px;
            //     background: rgb(248, 246, 246);
            //     color: gray;
            //     text-align: center;
            //     ion-icon{
            //         color:gray;
            //     }
            // }
            // .place{
            //     margin-left: 20px;
            //     height:20px;
            //     font-size: 10px;
            //     width: 80px;
            //     background: rgb(248, 246, 246);
            //     text-align: center;
            //     color: gray;
            //     ion-icon{
            //         color:gray;
            //     }
            // }
        }
    }
}
