page-editmyschedule {
    .head{
        width: 100%;
        height: 60px;
        text-align: center;
        line-height: 60px;
        font-size: 20px;
        color: #FD273F;
        font-weight: 500;
        img{
            // margin-left: 10px;
            // font-size: 30px;
            // color: #FD273F;
            float: left;
            // line-height: 60px;
            margin-top:14px;
            
        }
    }
    .context{
        border: 2px rgb(212, 206, 206) solid;
        height: 550px;
        width: 320px;
        margin: 10px auto;
        border-radius: 5px;
        background-color: #F8F8F8;
        button{
            margin-top: 80px;
        }
    }
    li{
        ion-icon{
            margin-left: 15px;
            line-height: 60px;
            font-size: 30px;
            color: rgb(114, 113, 113);
        }
        input{
            margin-top: 13px;
            width: 77%;
            height: 40px;
            border: none;
            border-radius: 10px;
            background-color: #F8F8F8;
            float: right;

        }
        #date{
            ion-item{
                background-color: #F8F8F8;
            }
            float: right;
            width: 270px;
            height: 60px;
            ion-label{
                color: grey;
                margin-top:20px;
                font-size: 95%;
            }
            ion-datetime{
                color: #FD273F;
                float: right;
                margin-top:10px;
                width: 150px;
            }
        }
        ion-list{
            width:270px;
            float:right;
            border-radius: 20px;
        }

    }
}
