page-login {
    ion-content{
        .bk:before{
            background: url(../assets/imgs/loginbk/bk10.png) no-repeat;
            background-size: cover;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;/*-1 可以当背景*/
            // -webkit-filter: blur(3px);
            // filter: blur(3px); 
            opacity: 0.8;
        }
        #logo{
            img{
                width: 60px;
                height: 60px;
            }
            //  border:1px solid black;
            margin-top:80px;
            margin-bottom: 60px;
            margin-left: 60px;
            // margin-right: auto;
            span{
                font-feature-settings: '幼圆';
                font-size:24px;
                color:#FD273F;
            }
        }

        .inp{
            border-bottom:1px solid grey;
            width: 240px;
            height:30px;
            background: none;
            border-top:none;
            border-left: none;
            border-right: none;
            // border-radius: 8px;
        }
        #input{
            width:100%;
            height:230px;
            margin: 20px auto;
            //  border:1px solid black;
            div{
                //border:1px solid black;
                width:280px;
                margin:0 auto;
                i{
                    color:#FD273F;
                    margin-right:10px;
                }
            }
            a{
                display: block;
                font-size:15px;
                margin-left:75px;
                margin-top:13px;
                color: gray;
                text-decoration: underline;
            }
            #submit{
                display: block;
                border: 1px solid #FD273F;
                border-radius: 8px;
                background-color: #FD273F;
                color:white;
                width:120px;
                height:40px;
                margin:30px auto;
            }
        }
        #third{
            width:100%;
            height:80px;
            // border:1px solid black;
            margin-top:50px;
            .icon-icon{
                //color:transparent;
                display: inline-block;
                // border:1px solid black;
            }
            p{
                text-align: center;
            }

        }
        #register{
            margin-top: 20px;
            margin-left:10px;
            a{
                text-decoration:underline;
                color:gray;
            }
        }
        #alert{
            color:red;
        }
    }
}

