page-changephone {
    padding: 0px;
    margin:0px;
    ion-header{
        height:50px;
       img{margin-top:9px;}
       span{
            position:absolute;   
            display: inline-block;
            font-size: 18px;
            color:#FD273F;
            margin-left:30%;margin-top: 13px;
        }
    }
    ion-content{
        .security{margin-left:33%;margin-top:50px;}
        ul{
            padding: 0px;
            margin-top: 20px;
            margin-left: 2%;
            list-style: none;
            .lione{
                width: 96%;
                input{
                    border: none;
                    width: 96%;
                    border-bottom:1px solid grey;
                    height: 45px;
                    line-height: 45px;
                }
            }
            .litwo{
                width: 96%;
                margin-top:10px;
                input{
                    border: none;
                    width: 68%;
                    border-bottom:1px solid grey;
                    height: 45px;
                    line-height: 45px;
                }
               #gaincode{
                   margin-left:5px;
                    color:#FD273F;
                    width:98px;
                    height:40px;
                    font-size:15px;
                    background: none;
                    border:1px solid #FD273F;
                    border-radius: 5px;
                }
            }
        }
        #codeShow{
            width:180px;
            height:50px;
            font-size:25px;
            font-family: '楷体';
            text-align: center;
            line-height: 50px;
            // border:1px solid #FD273F;
            opacity:0.8!important ;
            display: none;
            margin-top:10px;
            margin-left:80px;
        }
        .submit{
            width:100px;
            height:50px;
            background-color: #FD273F;
            border-radius: 5px;
            margin-left: 36%;
            margin-top:50px;
            color: white;
        }
        //下边是没有成功的模态框的样式 不要删除 迟早一天能搞出来
        // .tips{
        //     width: 360px;
        //     height: 180px;
        //     border: 1px solid grey;
        //     border-radius: 3px;
        //     display: none;
        //     img{display: inline-block;margin-top: 60px;margin-left: 60px;}
        //     span{display: inline-block;margin-top:55px;
        //     font-family: "等线";font-weight:550;color:grey;}
        //     button{
        //         background-color: white;
        //         color: red;
        //         border:1px solid red;
        //         border-radius: 5px;
        //         width:50px;
        //         height: 30px;
        //         float: right;
        //         margin-top:130px;margin-right: 20px;
        //     }
        // }
        
    }
}