page-add {
     button{
         float: right;
         margin: 0px;
         padding: 0px;
         background: transparent;
         height: 40px;
         width: 40px;
         .jia{
             padding: 0px;
             margin: 0px;
             font-size: 35px;
         }
     }
     .release{
         padding: 0%;
         margin: 0%;
         width: 100%;
         height: 220px;
     }
}
