
<ion-content>
  <div id="total">
    <div id="header">
      <img src="../assets/imgs/logo.png" alt="">
      <div>玩转周末管理系统</div>
      <!-- <div class="btn">
          <button><ion-icon name="md-settings"></ion-icon>设置</button>
          <button (click)="goLogin()"><i class="iconfont icon-ai240"></i>安全退出</button>
      </div> -->
      <div>
          <ul class="btn">
              <li (click)="showUL()">
                <ion-icon name="md-settings"></ion-icon>&nbsp;&nbsp;设置<ion-icon name="md-arrow-dropdown" style="padding-left:10px;"></ion-icon>
                <ul id="hide">
                  <li><i class="iconfont key"></i>修改密码</li>
                  <li><i class="iconfont touxiang"></i>更换头像</li>
                  <li><i class="iconfont guanzhu"></i>新增管理员</li>
                </ul>
              </li>
              <li (click)="goLogin()"><i class="iconfont icon-ai240"></i>&nbsp;&nbsp;安全退出</li>
            </ul>
      </div>
    </div>
    <div class="left">
      <div>
        <img src="../assets/imgs/head/111112.png" alt="">
        <div>
            <span>{{userName}}!<br><br>欢迎登录</span>
        </div>
      </div>
      <ul id="ul">
        <li (click)="fun(1)" class="li"><i class="iconfont icon-fonts-user"></i>账号管理</li>
        <li (click)="fun(2)" class="li"><i class="iconfont icon-huodong"></i>用户活动管理</li>
        <li (click)="fun(3)" class="li">
          <i class="iconfont icon-zuopin"></i>首页作品管理
          <ion-icon name="md-arrow-dropdown" style="padding-left:5px;"></ion-icon>
        </li>
        <ul id="hiddenUL1">
          <li (click)="fun(4)" class="li">系统作品管理</li>
          <li (click)="fun(5)" class="li">用户作品管理</li>
        </ul>
        <li (click)="fun(6)" class="li">
          <i class="iconfont icon-richeng"></i>日程管理
          <ion-icon name="md-arrow-dropdown" style="padding-left:38px;"></ion-icon>
        </li>
        <ul id="hiddenUL2">
          <li (click)="fun(7)" class="li">推荐日程管理</li>
          <li (click)="fun(8)" class="li">用户日程管理</li>
        </ul>
        <li (click)="fun(9)" class="li"><i class="iconfont icon-pinglun"></i>评论管理</li>
        <li (click)="fun(10)" class="li"><i class="iconfont shujufenxi"></i>数据分析</li>
      </ul>
    </div>
    <div class="right" [ngSwitch]="num">
        <div *ngSwitchCase="1" class="div">
          <!-- <ul>
            <li *ngFor="let item of user;">
              {{item.number}} {{item.ID}} {{item.sex}} {{item.birthday}} {{item.college}} {{item.Email}} {{item.address}} {{item.introduction}} {{item.phoneNumber}}
            </li>
          </ul> -->
            <div id="searchone">
                <select id="select1" [(ngModel)]="typeTextone" (focus)="clear()">
                    <option value="all">全部</option>
                    <option value="phone">手机号</option>
                    <option value="sex">性别</option>
                    <option value="userStatus">账号状态</option>
                    <option value="status">登录情况</option>
                    <option value="id">ID号</option>
                </select>
                <input type="text" [(ngModel)]="textone" placeholder="请输入搜索内容" class="search">
                <i class="iconfont icon-sousuo" (click)="searchone()"></i>
            </div>
            <div class="biao1">
              <table  width="100%" border="0" cellspacing="0" cellpadding="0" id="table1">
                <tr>
                  <th>序号</th>
                  <th>登录名</th>
                  <th>性别</th>
                  <th>注册手机号</th>
                  <th>ID</th>
                  <th>账号状态</th>
                  <th>是否登录过</th>
                  <th>账号操作</th>
                </tr>
                <tr *ngFor="let item of user;let i=index" id="tr">
                  <td>{{i+1}}</td>
                  <td>{{item.userName}}</td>
                  <td>{{item.sex}}</td>
                  <td>{{item.phoneNumber}}</td>
                  <td>{{item.ID}}</td>
                  <td class="userStatus">{{item.userStatus}}</td>
                  <td>{{item.status}}</td>
                  <td>
                    <button (click)="ucheck(i)"><i class="iconfont icon-chakan"></i>查看详情</button>&nbsp;|&nbsp;
                    <button class="freeze" (click)="freeze(i)"><i class="iconfont icon-snow"></i>冻结账号</button>&nbsp;|&nbsp;
                    <button class="unfreeze" (click)="unfreeze(i)"><i class="iconfont icon-lock-open"></i>解冻账号</button></td>
                </tr>
              </table>
            </div>
        </div>
        <div *ngSwitchCase="2" class="div">
          <div id="searchtwo">
            <select id="select2" [(ngModel)]="typeTexttwo" (focus)="clear()">
                <option value="all" selected="selected">全部</option>
                <option value="id">ID号</option>
            </select>
            <input type="text" [(ngModel)]="texttwo" placeholder="请输入搜索内容" class="search">
            <i class="iconfont icon-sousuo" (click)="searchtwo()"></i>
          </div>
          <div class="biao2">
            <table  width="100%" border="0" cellspacing="0" cellpadding="0" id="table2">
              <tr>
                <th>序号</th>
                <th>ID</th>
                <th>收藏</th>
                <th>发布</th>
                <th>粉丝</th>
                <th>关注</th>
              </tr>
              <tr *ngFor="let item of activity;let i=index" id="tr">
                <td>{{i+1}}</td>
                <td>{{item.ID}}</td>
                <td>{{item.collect}} <button>[详情]</button></td>
                <td>{{item.publish}}<button>[详情]</button></td>
                <td>{{item.fans}}<button>[详情]</button></td>
                <td>{{item.interest}}<button>[详情]</button></td>
                <!-- <td><button (click)="ucheck(i)">查看详情</button>&nbsp;|&nbsp;<button class="freeze" (click)="freeze(i)">冻结账号</button>&nbsp;|&nbsp;<button class="unfreeze" (click)="unfreeze(i)">解冻账号</button></td> -->
              </tr>
            </table>
          </div>
        </div>
        <div *ngSwitchCase="3" class="div">
          <div id="searchthree">
            <select id="select3" [(ngModel)]="typeTextthree" (focus)="clear()" >
                <option value="all" selected = "selected">全部</option>
                <option value="projectID">作品ID</option>
                <option value="用户ID">用户ID</option>
                <option value="palce">地点</option>
            </select>
            <input type="text" [(ngModel)]="textthree" placeholder="请输入搜索内容" class="search">
            <i class="iconfont icon-sousuo" (click)="searchthree()"></i>
          </div>
          <div class="biao3">
            <table  border="0" cellspacing="0" cellpadding="0" id="table3">
              <tr style="position:fixed;background-color:white;width:100%">
                <th style="width:5%;">序号</th>
                <th style="width:7%;">作品ID</th>
                <th style="width:7%;">用户ID</th>
                <th style="width:25%;">活动内容</th>
                <th style="width:5%;">地点</th>
                <th style="width:10%;">主题</th>
                <th style="width:10%;">时间</th>
                <th style="width:5%;">点赞数</th>
                <th style="width:5%;">收藏数</th>
                <th style="width:5%;">评论数</th>
                <th>操作</th>
              </tr>
              <tr *ngFor="let item of homeProject;let i=index" id="tr">
                <td style="width:5%;">{{i+1}}</td>
                <td style="width:7%;">{{item.projectID}}</td>
                <td style="width:7%;">{{item.userID}}</td>
                <td style="width:25%;height:100px;padding:15px;padding-top:30px;">{{item.context}}</td>
                <td style="width:5%;">{{item.place}}上海</td>
                <td style="width:10%;">{{item.keyword}}</td>
                <td style="width:10%;">{{item.time.substr(0,10)+" "+item.time.substr(11,8)}}</td>
                <td style="width:5%;">{{item.zan}}</td>
                <td style="width:5%;">{{item.collection}}</td>
                <td style="width:5%;">{{item.comment}}</td>
                <td>
                  <button (click)="pcheck(i)"><i class="iconfont icon-chakan"></i>查看详情</button>&nbsp;|&nbsp;
                  <button (click)="pdelete(i)"><i class="iconfont icon-shanchu"></i>删除</button>&nbsp;&nbsp;
                  <!-- <button class="freeze" (click)="freeze(i)"><i class="iconfont icon-snow"></i>冻结账号</button>&nbsp;|&nbsp; -->
                  <!-- <button class="unfreeze" (click)="unfreeze(i)"><i class="iconfont icon-lock-open"></i>解冻账号</button></td> -->
              </tr>
            </table>
          </div>
        </div>
        <div *ngSwitchCase="4" class="div">
            <div id="searchthree">
                <select id="select3" [(ngModel)]="typeTextfour" (focus)="clear()" >
                    <option value="all" selected = "selected">全部</option>
                    <option value="projectID">作品ID</option>
                    <option value="palce">地点</option>
                </select>
                <input type="text" [(ngModel)]="textfour" placeholder="请输入搜索内容" class="search">
                <i class="iconfont icon-sousuo" (click)="searchfour()"></i>
                <button (click)="createOproject()" style="color:white;background-color:#5f9ea0;width:80px;height:40px;border-radius:5px;float:right;margin-right:50px;">创建</button>
              </div>
              <div class="biao3">
                <table  border="0" cellspacing="0" cellpadding="0" id="table3">
                  <tr style="position:fixed;background-color:white;width:100%">
                    <th style="width:5%;">序号</th>
                    <th style="width:10%;">作品ID</th>
                    <th style="width:25%;">活动内容</th>
                    <th style="width:5%;">地点</th>
                    <th style="width:10%;">主题</th>
                    <th style="width:10%;">时间</th>
                    <th style="width:5%;">点赞数</th>
                    <th style="width:5%;">收藏数</th>
                    <th style="width:5%;">评论数</th>
                    <th>操作</th>
                  </tr>
                  <tr *ngFor="let item of homeProject;let i=index" id="tr">
                    <td style="width:5%;">{{i+1}}</td>
                    <td style="width:10%;">{{item.projectID}}</td>
                    <td style="width:25%;height:100px;padding:15px;padding-top:30px;">{{item.context}}</td>
                    <td style="width:5%;">{{item.place}}上海</td>
                    <td style="width:10%;">{{item.keyword}}</td>
                    <td style="width:10%;">{{item.time.substr(0,10)+" "+item.time.substr(11,8)}}</td>
                    <td style="width:5%;">{{item.zan}}</td>
                    <td style="width:5%;">{{item.collection}}</td>
                    <td style="width:5%;">{{item.comment}}</td>
                    <td>
                      <button (click)="opcheck(i)"><i class="iconfont icon-chakan"></i>查看详情</button>&nbsp;|&nbsp;
                      <button (click)="opdelete(i)"><i class="iconfont icon-shanchu"></i>删除</button>&nbsp;&nbsp;
                      <button (click)="oppush(i)"><i class="iconfont icon-shanchu"></i>推送</button>&nbsp;&nbsp;
                      <!-- <button class="freeze" (click)="freeze(i)"><i class="iconfont icon-snow"></i>冻结账号</button>&nbsp;|&nbsp; -->
                      <!-- <button class="unfreeze" (click)="unfreeze(i)"><i class="iconfont icon-lock-open"></i>解冻账号</button></td> -->
                  </tr>
                </table>
              </div>
        </div>
        <div *ngSwitchCase="5" class="div">
          <div id="searchthree">
            <select id="select3" [(ngModel)]="typeTextfive" (focus)="clear()" >
                <option value="all" selected = "selected">全部</option>
                <option value="projectID">作品ID</option>
                <option value="userID">用户ID</option>
                <option value="palce">地点</option>
            </select>
            <input type="text" [(ngModel)]="textfive" placeholder="请输入搜索内容" class="search">
            <i class="iconfont icon-sousuo" (click)="searchfive()"></i>
          </div>
          <div class="biao3">
            <table  border="0" cellspacing="0" cellpadding="0" id="table3">
              <tr style="position:fixed;background-color:white;width:100%">
                <th style="width:5%;">序号</th>
                <th style="width:7%;">用户ID</th>
                <th style="width:7%;">作品ID</th>
                <th style="width:25%;">活动内容</th>
                <th style="width:5%;">地点</th>
                <th style="width:10%;">主题</th>
                <th style="width:10%;">时间</th>
                <th style="width:5%;">点赞数</th>
                <th style="width:5%;">收藏数</th>
                <th style="width:5%;">评论数</th>
                <th>操作</th>
              </tr>
              <tr *ngFor="let item of homeProject;let i=index" id="tr">
                <td style="width:5%;">{{i+1}}</td>
                <td style="width:7%;">{{item.userID}}</td>
                <td style="width:7%;">{{item.projectID}}</td>
                <td style="width:25%;height:100px;padding:15px;padding-top:30px;">{{item.context}}</td>
                <td style="width:5%;">{{item.place}}上海</td>
                <td style="width:10%;">{{item.keyword}}</td>
                <td style="width:10%;">{{item.time.substr(0,10)+" "+item.time.substr(11,8)}}</td>
                <td style="width:5%;">{{item.zan}}</td>
                <td style="width:5%;">{{item.collection}}</td>
                <td style="width:5%;">{{item.comment}}</td>
                <td>
                  <button (click)="upcheck(i)"><i class="iconfont icon-chakan"></i>查看详情</button>&nbsp;|&nbsp;
                  <button (click)="updelete(i)"><i class="iconfont icon-shanchu"></i>删除</button>&nbsp;&nbsp;
                  <button (click)="uppush(i)"><i class="iconfont icon-shanchu"></i>推送</button>&nbsp;&nbsp;
                  <!-- <button class="freeze" (click)="freeze(i)"><i class="iconfont icon-snow"></i>冻结账号</button>&nbsp;|&nbsp; -->
                  <!-- <button class="unfreeze" (click)="unfreeze(i)"><i class="iconfont icon-lock-open"></i>解冻账号</button></td> -->
              </tr>
            </table>
          </div>
        </div>
        <div *ngSwitchCase="6"></div>
        <div *ngSwitchCase="7" class="div">
            <div id="searchseven">
                <select id="select7" [(ngModel)]="typeTextseven" (focus)="clear()">
                    <option value="all">全部</option>
                    <option value="theme">主题</option>
                    <option value="time">时长</option>
                    <option value="hsID">日程ID</option>
                </select>
                <input type="text" [(ngModel)]="textseven" placeholder="请输入搜索内容" class="search">
                <i class="iconfont icon-sousuo" (click)="searchseven()"></i>
                <button id="new" (click)="newHS()">新建</button>
            </div>
            <div class="biao7">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table7">
                  <tr>
                    <th>序号</th>
                    <th>推荐日程ID</th>
                    <th>主题</th>
                    <th>时长</th>
                    <th>操作</th>
                  </tr>
                  <tr *ngFor="let item of homeSchedule;let i=index" id="tr">
                    <td>{{i+1}}</td>
                    <td>{{item.hsID}}</td>
                    <td>{{item.theme}}</td>
                    <td>{{item.time}}</td>
                    <td><button (click)="homeScheduleCheck(i)"><i class="iconfont icon-chakan"></i>查看详情</button></td>
                  </tr>
                </table>
            </div>
          <!-- <input type="file" id="inp" name="picture">
          <button id="btn" (click)="upload()">上传</button>
          <img id="img" src="../assets/imgs/head/111111.png" alt=""> -->
        </div>
        <div *ngSwitchCase="8">
          <div id="searcheight">
            <select id="select8" [(ngModel)]="typeTexteight" (focus)="clear()">
                <option value="all">全部</option>
                <option value="phone">手机号</option>
                <option value="sex">性别</option>
                <option value="userStatus">账号状态</option>
                <option value="status">登录情况</option>
                <option value="id">ID号</option>
            </select>
            <input type="text" [(ngModel)]="texteight" placeholder="请输入搜索内容" class="search">
            <i class="iconfont icon-sousuo" (click)="searcheight()"></i>
          </div>
          <div class="biao1">
            <table  width="100%" border="0" cellspacing="0" cellpadding="0" id="table1">
              <tr>
                <th>序号</th>
                <th>登录名</th>
                <th>性别</th>
                <th>注册手机号</th>
                <th>ID</th>
                <th>操作</th>
              </tr>
              <tr *ngFor="let item of user;let i=index" id="tr">
                <td>{{i+1}}</td>
                <td>{{item.userName}}</td>
                <td>{{item.sex}}</td>
                <td>{{item.phoneNumber}}</td>
                <td>{{item.ID}}</td>
                <td class="userStatus">{{item.userStatus}}</td>
                <td>{{item.status}}</td>
                <td>
                  <button (click)="ucheck(i)"><i class="iconfont icon-chakan"></i>查看详情</button>&nbsp;|&nbsp;
                  <button class="freeze" (click)="freeze(i)"><i class="iconfont icon-snow"></i>冻结账号</button>&nbsp;|&nbsp;
                  <button class="unfreeze" (click)="unfreeze(i)"><i class="iconfont icon-lock-open"></i>解冻账号</button></td>
              </tr>
            </table>
          </div>
        </div>
        <div *ngSwitchCase="9">9</div>
        <div *ngSwitchCase="10">
          <div class="data">
            <div id="chart1" >1</div>
            <div id="chart2" >2</div>
            <div id="chart3" >3</div>
            <div id="chart4" >4</div>
          </div>
        </div>
    </div>
  </div>
</ion-content>
