page-collection {
    ion-header{
        height:50px;
       img{margin-top:9px;}
       span{
            position:absolute;   
            display: inline-block;
            font-size: 18px;
            color:#FD273F;
            margin-left:33%;margin-top: 13px;
        }
    }
    ion-content{
        #content{
            list-style:none;
            padding: 0px;
            margin-left: 0.5%;
            #collection{
                float: left;
                width: 33%;
                height: 150px;
                margin: 0.1% 0.1%;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                }
                .collection{
                    padding: 0px;
                    margin: 0px;
                    position: absolute;
                    bottom: 1px;
                    right: 3px; 
                    .star{
                        color:rgb(241, 220, 23)!important;
                        font-size:16px;
                    }
                    .num{
                        color: white;
                    }
                }
            }      
        }
    }
}
