page-home{
    ion-header{
        height:103px;
        background-color: white;
        #head{
            height: 60px;
            text-align: center;
            #search{
                text-align: center;
                margin-top:15px;
                width: 300px;
                height: 30px;
                border-radius: 18px;
                border:1px solid gray;
                position: relative;
                font-size:14px;
            }
            i{
                position: absolute;
                left:40px;
                line-height: 60px;
                color:#FD273F;
                font-size:24px;
            }
        }
        .navList{
            border-radius:20px;
            border: #FD273F 1px solid;
            padding-left: 0!important;
            margin: 0 auto;
            height: 35px;
            line-height: 35px;
            width: 95%;
            .first{
                border-radius:30px  0  0 30px  ;
                color: white;
                background-color: #FD273F;
            }
            .second{
                border-radius:0  30px  30px  0 ;
                color: white;
                background-color: #FD273F;
            }
            li{
                height: 34px;
                text-align: center;
                float: left;
                width: 50%;
            }
        }
    }
    
    #switch{
        padding:0;
        margin: 3px auto;
        width: 96%;
        .goods{
            padding: 0;
            img{
                width: 100%;
                height: 182px;
            }
            li{
                 
                width: 48%;
                float: left;
                //margin: 2px 0 0 2%;
                margin-left:4px;
                margin-right: 3px;
                margin-top:8px;
                #text{
                    // border: 1px solid green;
                    // word-break: break-all;
                    // text-overflow: ellipsis;
                    // display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
                    // -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
                    // -webkit-line-clamp: 1; /** 显示的行数 **/
                    // overflow: hidden;  /** 隐藏超出的内容 **/
                    display: inline-block;
                    white-space: nowrap; 
                    width: 100%; 
                    overflow: hidden;
                    text-overflow:ellipsis;
                    margin: 0px;
                }
                #below{
                    // border: 1px solid;
                    width: 100%;
                    height: 25px;
                    //border:1px solid black;
                    line-height: 25px;
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 13px;
                    .ion-ios-heart,.ion-md-heart{
                        color:rgb(212, 208, 208);
                        font-size:18px;
                    } 
                    #right{
                        float: right;
                        line-height: 25px;
                    }
                    #tou{
                        width: 23px;
                        height: 23px;
                        border-radius: 50%;
                        display: inline-block;
                        vertical-align: middle;
                        //margin-right: 5px;
                    }
                }
            }
        }
    }
    
    // .planleft{
    //     margin-left:40px;
    //     margin-top:20px;
    //     display: inline-block;
    //     border-radius: 50%;
    //     width: 120px;
    //     height: 120px;
    //     p{font-family: "等线";color: white;text-align: center;width: 120px;}
    //     .title{font-size:16px;margin-top:42.5%;font-weight: 550;}
    //     .time{font-size: 12px;}
    // }
    // .planright{
    //     margin-left: 30px; 
    //     margin-top:20px;
    //     display: inline-block;
    //     border-radius: 50%;
    //     width: 120px;
    //     height: 120px;
    //     p{font-family: "等线";color: white;text-align: center;width: 120px;}
    //     .title{font-size:16px;margin-top:42.5%;font-weight: 550;}
    //     .time{font-size: 12px;}
    // }
    // #plan1{background:url(../assets/imgs/homeSchedule/plan1.png);}
    // #plan2{background:url(../assets/imgs/homeSchedule/plan2.png);}
    // #plan3{background:url(../assets/imgs/homeSchedule/plan3.png);}
    // #plan4{background:url(../assets/imgs/homeSchedule/plan4.png);}
    // #plan5{background:url(../assets/imgs/homeSchedule/plan5.png);}
    // #plan6{background:url(../assets/imgs/homeSchedule/plan6.png);}
    // #plan7{background:url(../assets/imgs/homeSchedule/plan7.png);}
    // #plan8{background:url(../assets/imgs/homeSchedule/plan8.png);}
    .schedule{
        margin: 0;
        padding:0;
        width:100%;
        margin:20px auto;
        height:600px;
        //border:1px solid blalck;
        li{
            width:120px;
            height: 120px;
            float: left;
            margin-left: 35px;
            margin-bottom:20px;
            //border:1px solid red;
            position: relative;
            img{
                width:120px;
                height:120px;
                //border:1px solid black;
                border-radius: 50%;
            }
            span{
                display: inline-block;
                //border:1px solid blue;
                width:120px;
                height:20px;
                position: absolute;
                color:white;
            }
            .title{
                top:40px;
                font-size:16px;
                text-align: center;
            }
            .time{
                top:60px;
                font-size:14px;
                text-align: center;
                margin-top:6px;
            }

        }
    }

}