
    // .ion-ios-pin,.ion-md-pin,{
    //     font-size: 23px!important;
    //     color: #FD273F!important;
    // }
    // .ion-ios-search,.ion-md-search{
    //     font-size: 23px!important;
    // }
        

page-home{
    .head{
        height: 60px;
        text-align: center;
        ion-icon{
            font-size: 23px!important;
            color: #FD273F!important;
        }
        #search{
            text-align: center;
            margin-top: 10px;
            width: 300px;
            height: 30px;
            border-radius: 15px;
        }
    }
    .navList{
        border-radius:30px;
        border: #FD273F 1px solid;
        padding-left: 0!important;
        margin: 0;
        height: 35px;
        line-height: 35px;
        .first{
            border-radius:30px  0  0 30px  ;
            color: white;
            background-color: #FD273F;
        }
        .second{
            border-radius:0  30px  30px  0 ;
            color: white;
            background-color: #FD273F;
        }
        li{
            height: 34px;
            text-align: center;
            float: left;
            width: 50%;
        }
    }
    #switch{
        margin: 10px auto;
        // border: #FD273F 1px solid;
        width: 350px;
        // height: 300px;
        .goods{
            padding: 0;
            img{
                    width: 100%;
                    height: 182px;
            }
            li{
                 
                width: 45%;
                float: left;
                margin: 5px 0 5px 3%;
                #below{
                    font-size: 5px;
                    .ion-ios-heart-outline,.ion-md-heart-outline{
                    color: #FD273F!important;
                    }  
                    #right{
                        float: right;
                        line-height: 36px;
                    }
                }
                #tou{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
            }
        }
    }
    .planleft{
        img{border-radius: 50%;}
        margin-left:20px;
        margin-top:15px;
        display: inline-block;
    }
    .planright{
        img{border-radius: 50%;}
        margin-left: 20px; 
        margin-top:15px;
        display: inline-block;
    }


}