page-newhome-schedule {
    .back{
        background: none;
        font-size: 22px;
        color:#5f9ea0;
        margin-left: 10px;
        margin-top:10px;
    }

    ul{
        width:100%;
        height:600px;
        //border:1px solid black;
        list-style: none;
        margin:0;
        padding:0;
        .span{
            width:120px;
            height:30px;
            //border:1px solid black;
            display: block;
            font-size:16px;
            margin-top:20px;
            line-height: 30px;
            margin-left: 70px;
        }     
        li{
            font-size:16px;
            margin-top:15px;
           .inp{
               width:200px;
               height:30px;
               line-height: 30px;  
               margin-left: 20px;
               border-radius:3px;
               border:1px solid gray;
           } 
           .time{
               width:90px;
               height:30px;
               color:blue;
               border-radius:3px;
               border:1px solid gray;
                text-align: center;
               margin-left:70px;
               margin-top:5px;
           }
           img{
               margin-left:20px;
               margin-top:10px;
               width:120px;
               height: 120px;
           }
           #file{
               margin-left:10px;
           }
           #sure{
                color: #5f9ea0;
                background: none;
                border:2px solid #5f9ea0;
                width:80px;
                height:30px;
                border-radius: 5px;
                font-size:16px;
                font-weight: bold;
            }
           span{
                width:120px;
                height:30px;
                //border:1px solid black;
                display: inline-block;
                font-size:16px;
                margin-top:20px;
                line-height: 30px;
                text-align: right;
            }
           .save{
                width:100px;
                height:40px;
                color:#5f9ea0;
                border:2px solid #5f9ea0;
                background: none;
                border-radius: 5px;
                margin-left:800px;
                font-size:16px;
                font-weight: bold;
            }
           .detail{
               //border:1px solid red;
               font-size:16px;
               line-height: 30px;
               width:1000px;
               height:200px;
               margin-top:5px;
               margin-left:70px;
           }
        }
    }
}
