page-fans {
    ion-header{
        height:50px;
       img{margin-top:9px;}
       span{
            position:absolute;   
            display: inline-block;
            font-size: 18px;
            color:#FD273F;
            margin-left:33%;margin-top: 13px;
        }
    }
}
