  <ion-content >
        <div class="head">
            <img src="assets/icon/left.png" alt="" (click)="close()">
                赞
        </div>
        <ul class="navList">
            <li (click)="isClick(0)" [class.first]="isActive==0" >我赞过的</li>
            <li (click)="isClick(1)" [class.second]="isActive==1">赞过我的</li>
        </ul>

      <div [ngSwitch]='isActive' id="switch">
         <ion-list *ngSwitchCase="0">
            <ul id="content">
                <li id="collection" class="person" *ngFor="let item of Myzan;let i=index">
                    <img (click)='detail(item.projectID)' src="{{item.imgs.split('|')[0]}}" alt="图片" >
                    <span class="zan">
                        <ion-icon ios="ios-heart" md="md-heart" class="heart"></ion-icon>
                        <span class="num">{{item.zan}}</span>
                    </span>
                </li>
            </ul>     
         </ion-list>
         <ion-list *ngSwitchCase="1">
            <ul id="content">
                <li id="collection" class="person" *ngFor="let item of zanMy;let i=index">
                    <img src="{{item.imgs.split('|')[0]}}" alt="图片">
                    <span class="zan">
                        <ion-icon ios="ios-heart" md="md-heart" class="heart"></ion-icon>
                        <span class="num">{{item.zan}}</span>
                    </span>
                </li>
            </ul>
         </ion-list>
      </div>
  </ion-content>
  