page-set {
    ion-header{
        height:50px;
       img{margin-top:9px;}
    }
    ion-content{
        margin:0px;
        ul{
            width: 97%;
            margin-left:1.4%;
            font-size: 14px;
            padding: 0px;
            list-style:none;
            li{
                border-bottom:1px solid grey;
                height: 50px;
                line-height: 50px;
                div{
                    color:grey;
                    display: inline-block;
                    float: right;
                    margin-right: 10px;
                    ion-icon{color:grey;}
                }
            }
        }
        button{
            width:100%;
            height:50px;
            font-size: 18px;
            background-color: #FD273F;
            color: white;
            margin-top: 100px;
        }
    }
}
