page-about {
    ion-header{
        height: 45px;
        line-height: 45px;
        ion-title{color:#FD273F;}
    }
    .list1{
        padding-left:0!important; 
        margin:0px;
        height:90px;
        line-height: 30%;
        list-style: none;
        li{
            width:33%;
            height:80px;
            float:left;
            text-align: center;
        }
    }
    ion-list{
        ion-item{
            height: 72px;
            margin-top: 5px;
            .tou{
                padding: 0;
                margin: 0;
                height: 60px;
                width:60px;
                img{
                    height: 55px;
                    widows: 55px;
                }
            }
        }
    }
    .tubiao{
        color: #ED9B9B;
        font-size: 55px;
    }
    button{
        background: transparent;
    }
}
