page-about {
    ion-header{
        height: 45px;
        line-height: 45px;
    }
    .list1{
        padding-left:0!important; 
        margin:0px;
        height:90px;
        line-height: 30%;
        list-style: none;
        li{
            width:33%;
            height:80px;
            float:left;
            text-align: center;
        }
    }
    ion-item{
        height: 80px;
    }
    .tubiao{
        color: #ED9B9B;
        font-size: 55px;
    }
    button{
        background: transparent;
    }
}
