<ion-header>
  <div>
      <ion-title color="primary">消息</ion-title>
      <ul class="navList">
          <li (click)="isClick(0)" [class.first]="isActive==0" >发出评论</li>
          <li (click)="isClick(1)" [class.second]="isActive==1">收到评论</li>
      </ul>
  </div>
</ion-header>
<ion-content >
    <div [ngSwitch]='isActive' class="switch">
      <ion-list *ngSwitchCase="0">
        <ion-item *ngFor="let item of Mycomment;let i=index">
          <ion-thumbnail item-start>
            <img src="{{item.head}}" alt="图片" >
          </ion-thumbnail>
          <ion-label>
              <div class="comments">
                <p>{{item.userName}}</p>
                <span class="time">{{item.CommentDate.substr(0,10)+" "+item.CommentDate.substr(11,5)}}</span>
                <textarea cols="28" rows="3" readonly="readonly">{{item.CommentText}}</textarea>
              </div>
              <div class="project" (click)="goProject(i)">
                <img src="{{item.imgs.split('|')[0]}}" alt="">
              </div>
          </ion-label> 
        </ion-item>       
      </ion-list>
      <ion-list *ngSwitchCase="1" class="switch">
          <ion-item *ngFor="let item of commentMy;let i=index">
            <ion-thumbnail item-start>
              <img src="{{item.head}}" alt="图片" >
            </ion-thumbnail>
            <ion-label>
                <div class="comments">
                  <p>{{item.userName}}</p>
                  <span class="time">{{item.CommentDate.substr(0,10)+" "+item.CommentDate.substr(11,5)}}</span>
                  <textarea cols="30" rows="3" readonly="readonly">{{item.CommentText}}</textarea>
                </div>
                <div class="project">
                  <img src="{{item.imgs.split('|')[0]}}" alt="">
                </div>
              </ion-label> 
        </ion-item>
      </ion-list>
    </div>
  </ion-content>

  