page-planone {
    padding: 0;
    margin: 0;
    ion-content{
        font-family: "等线";
        background:url(../assets/imgs/planonebg.jpg);
        // i{
        //     display: block;
        //     width:30px;
        //     height:30px;
        //     border:1px solid blue;
        //     float: right;
        //     margin-top:0;
        // }
       .fault{
           float:right;
           margin:10px 10px auto  auto;
        }
        #title{
            width:100%;
            height:60px;
           // border:1px solid red;
            span{
                display: inline-block;
                //border:1px solid blue;
                width: 100px;
                height:38px;
                font-size: 22px;
                color:white;
                text-align: center;
                line-height: 38px;
                margin-top:20px;
                margin-left: 10px;
                background:url(../assets/imgs/schebg.png);}                
            }
            i{
                font-weight:bold;
                padding-left:210px;
            }
        ion-scroll{
            height: 100%;
            width: 100%;
            white-space：nowrap
            #line{
                position: absolute;
                background-color:black;
                width: 2px;
                height:100%;
                margin-left:60px ;
                margin-top:10px;
            }
            #schedule{
                .top,.bottom{
                    // border: 1px solid black;
                    .scheduleleft{
                        display:block;
                        .sta,.sun{
                            display:inline-block;
                            // border: 1px solid black;
                            line-height: 40px;
                            margin-left:22px;
                        }
                    }
                    .scheduleright{
                        display:block;
                        width: 270px;
                        font-size: 12px;
                        margin-left:75px;
                        margin-top:-40px;
                        // border: 1px solid black;
                        ul{
                            padding: 0;
                            margin:0;
                            list-style: none;
                            li{
                                margin-top:10px;
                                font-size: 14px;
                                line-height: 25px;
                            }
                        }
                    }
                } 
            }  
        }
        
        
    }
}
